<div class="card-wrapper">
    {{#each friends}}
    <article class="card card--friend card--{{this.gender}}">
        <div class="card__img-wrapper">
            {{#unless this.avatar}}
            <div class="no-avatar">
                <span>{{this.initials}}</span>
            </div>
            {{/unless}}
            {{#if this.avatar}}
            <div>
                <img class="card__img" src="{{this.avatar}}" width="150" alt="">
            </div>
            {{/if}}
            <span class="badge badge--music">
                <i class="icon icon-music"></i>
            </span>
        </div>
        <div class="card__info">
            <h3 class="card__info__subtitle truncate-text">{{this.currentlyPlaying.artists}}</h3>
            <h2 class="card__info__title truncate-text">{{this.currentlyPlaying.name}}</h2>
            <div class="card__info__text">
                <ul class="unstyled-list">
                    {{#each this.recentlyPlayed}}
                    <li class="truncate-text">{{this.name}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="card__footer">
            <div class="card__footer__button">
                <a href="/unmatch/{{this._id}}">Unmatch</a>
                <a href="/user-profile/{{this._id}}">View Profile</a>
            </div>
        </div>
    </article>
    {{/each}}
</div>