<div class="map-wrapper">
    <article class="card card--horizontal card--male">
        <div class="card__img-holder">
            <div class="card__img-wrapper">
                <div class="no-avatar">
                    <span>JW</span>
                </div>
                {{!-- <div>
                    <img class="card__img" src="https://randomuser.me/api/portraits/men/41.jpg" width="72" alt="">
                </div> --}}
            </div>
        </div>
        <div class="card__info">
            <h2 class="card__info__title">{{ user.fullname }}</h2>
            <div class="tag-wrapper">
                {{#each user.favoriteGenres}}
                <span class="tag tag--small">{{this.name}}</span>
                {{/each}}
            </div>
        </div>
        <div class="card__status">
            <span class="badge badge--music">
                <i class="icon icon-music"></i>
            </span>
        </div>
    </article>
    <article class="card card--horizontal card--male">
        <div class="card__img-holder">
            <div class="card__img-wrapper">
                <div class="no-avatar">
                    <span>JW</span>
                </div>
                {{!-- <div>
                        <img class="card__img" src="https://randomuser.me/api/portraits/men/41.jpg" width="72" alt="">
                    </div> --}}
            </div>
        </div>
        <div class="card__info">
            <h2 class="card__info__title">{{ user.fullname }}</h2>
            <div class="tag-wrapper">
                {{#each user.favoriteGenres}}
                <span class="tag tag--small">{{this.name}}</span>
                {{/each}}
            </div>
        </div>
        <div class="card__status">
            <span class="badge badge--music">
                <i class="icon icon-music"></i>
            </span>
        </div>
    </article>
    <article class="card card--horizontal card--male">
        <div class="card__img-holder">
            <div class="card__img-wrapper">
                <div class="no-avatar">
                    <span>JW</span>
                </div>
                {{!-- <div>
                        <img class="card__img" src="https://randomuser.me/api/portraits/men/41.jpg" width="72" alt="">
                    </div> --}}
            </div>
        </div>
        <div class="card__info">
            <h2 class="card__info__title">{{ user.fullname }}</h2>
            <div class="tag-wrapper">
                {{#each user.favoriteGenres}}
                <span class="tag tag--small">{{this.name}}</span>
                {{/each}}
            </div>
        </div>
        <div class="card__status">
            <span class="badge badge--music">
                <i class="icon icon-music"></i>
            </span>
        </div>
    </article>
    <article class="card card--horizontal card--male">
        <div class="card__img-holder">
            <div class="card__img-wrapper">
                <div class="no-avatar">
                    <span>JW</span>
                </div>
                {{!-- <div>
                        <img class="card__img" src="https://randomuser.me/api/portraits/men/41.jpg" width="72" alt="">
                    </div> --}}
            </div>
        </div>
        <div class="card__info">
            <h2 class="card__info__title">{{ user.fullname }}</h2>
            <div class="tag-wrapper">
                {{#each user.favoriteGenres}}
                <span class="tag tag--small">{{this.name}}</span>
                {{/each}}
            </div>
        </div>
        <div class="card__status">
            <span class="badge badge--music">
                <i class="icon icon-music"></i>
            </span>
        </div>
    </article>
    <article class="card card--horizontal card--male">
        <div class="card__img-holder">
            <div class="card__img-wrapper">
                <div class="no-avatar">
                    <span>JW</span>
                </div>
                {{!-- <div>
                            <img class="card__img" src="https://randomuser.me/api/portraits/men/41.jpg" width="72" alt="">
                        </div> --}}
            </div>
        </div>
        <div class="card__info">
            <h2 class="card__info__title">{{ user.fullname }}</h2>
            <div class="tag-wrapper">
                {{#each user.favoriteGenres}}
                <span class="tag tag--small">{{this.name}}</span>
                {{/each}}
            </div>
        </div>
        <div class="card__status">
            <span class="badge badge--music">
                <i class="icon icon-music"></i>
            </span>
        </div>
    </article>
    <article class="card card--horizontal card--male">
        <div class="card__img-holder">
            <div class="card__img-wrapper">
                <div class="no-avatar">
                    <span>JW</span>
                </div>
                {{!-- <div>
                            <img class="card__img" src="https://randomuser.me/api/portraits/men/41.jpg" width="72" alt="">
                        </div> --}}
            </div>
        </div>
        <div class="card__info">
            <h2 class="card__info__title">{{ user.fullname }}</h2>
            <div class="tag-wrapper">
                {{#each user.favoriteGenres}}
                <span class="tag tag--small">{{this.name}}</span>
                {{/each}}
            </div>
        </div>
        <div class="card__status">
            <span class="badge badge--music">
                <i class="icon icon-music"></i>
            </span>
        </div>
    </article>
    <article class="card card--horizontal card--male">
        <div class="card__img-holder">
            <div class="card__img-wrapper">
                <div class="no-avatar">
                    <span>JW</span>
                </div>
                {{!-- <div>
                        <img class="card__img" src="https://randomuser.me/api/portraits/men/41.jpg" width="72" alt="">
                    </div> --}}
            </div>
        </div>
        <div class="card__info">
            <h2 class="card__info__title">{{ user.fullname }}</h2>
            <div class="tag-wrapper">
                {{#each user.favoriteGenres}}
                <span class="tag tag--small">{{this.name}}</span>
                {{/each}}
            </div>
        </div>
        <div class="card__status">
            <span class="badge badge--music">
                <i class="icon icon-music"></i>
            </span>
        </div>
    </article>
    <article class="card card--horizontal card--male">
        <div class="card__img-holder">
            <div class="card__img-wrapper">
                <div class="no-avatar">
                    <span>JW</span>
                </div>
                {{!-- <div>
                            <img class="card__img" src="https://randomuser.me/api/portraits/men/41.jpg" width="72" alt="">
                        </div> --}}
            </div>
        </div>
        <div class="card__info">
            <h2 class="card__info__title">{{ user.fullname }}</h2>
            <div class="tag-wrapper">
                {{#each user.favoriteGenres}}
                <span class="tag tag--small">{{this.name}}</span>
                {{/each}}
            </div>
        </div>
        <div class="card__status">
            <span class="badge badge--music">
                <i class="icon icon-music"></i>
            </span>
        </div>
    </article>
    <article class="card card--horizontal card--male">
        <div class="card__img-holder">
            <div class="card__img-wrapper">
                <div class="no-avatar">
                    <span>JW</span>
                </div>
                {{!-- <div>
                            <img class="card__img" src="https://randomuser.me/api/portraits/men/41.jpg" width="72" alt="">
                        </div> --}}
            </div>
        </div>
        <div class="card__info">
            <h2 class="card__info__title">{{ user.fullname }}</h2>
            <div class="tag-wrapper">
                {{#each user.favoriteGenres}}
                <span class="tag tag--small">{{this.name}}</span>
                {{/each}}
            </div>
        </div>
        <div class="card__status">
            <span class="badge badge--music">
                <i class="icon icon-music"></i>
            </span>
        </div>
    </article>
</div>