<div class="my-profile">
    <section class="profile-box">
        <article class="card card--male card--profile">
            <div class="card__img-wrapper">
                <div>
                    <img class="card__img" src="{{ user.avatar }}" width="150" alt="">
                </div>
                {{!-- <div class="no-avatar">
                    <span>JW</span>
                </div> --}}
                <span class="badge badge--music">
                    <i class="icon icon-music"></i>
                </span>
            </div>
            <div class="card__info">
                <h2 class="card__info__title">{{ user.fullname }}</h2>
                <section class="card__info__text">
                    <h3 class="card__info__small-title">Favourite genres</h3>
                    <div class="tag-wrapper">
                        {{#each user.favoriteGenres}}
                        <span class="tag">{{this.name}}</span>
                        {{/each}}
                    </div>
                </section>
                <section class="card__info__currently-playing">
                    {{#if user.currentlyPlaying}}
                    <span class="badge badge--music">
                        <i class="icon icon-music"></i>
                    </span>
                    <div>
                        <h3 class="card__info__subtitle truncate-text">{{user.currentlyPlaying.artists}}</h3>
                        <h2 class="card__info__title truncate-text">{{user.currentlyPlaying.name}}</h2>
                    </div>
                    {{/if}}
                    {{#unless user.currentlyPlaying}}
                    <span class="badge badge--offline">
                        <i class="icon icon-music"></i>
                    </span>
                    {{/unless}}
                </section>
                <section class="card__info__recently-played">
                    <i class="icon icon-headphones"></i>
                    <h3 class="card__info__secondary-title">Recently Played</h3>
                    <ul class="unstyled-list">
                        {{#each user.recentlyPlayed}}
                        <li class="truncate-text">{{this.name}}</li>
                        {{/each}}
                    </ul>
                </section>
            </div>
        </article>
    </section>

    {{!-- <section class="my-activities">
        <article class="post-box">
            <div class="post-box__type-icon">
                <i class="icon icon-headphones"></i>
            </div>
            <h4 class="post-box__type">Music</h4>
            <time class="post-box__time">
                <i class="icon icon-clock"></i>
                <span>6 days ago</span>
            </time>
            <div class="post-box__body">
                <div class="music-activity">
                    <h3 class="music-activity__artist">Austin</h3>
                    <h2 class="music-activity__title">In Betweenin’</h2>
                </div>
            </div>
        </article>
        <article class="post-box">
            <div class="post-box__type-icon">
                <i class="icon icon-align-left"></i>
            </div>
            <h4 class="post-box__type">Post</h4>
            <time class="post-box__time">
                <i class="icon icon-clock"></i>
                <span>6 days ago</span>
            </time>
            <div class="post-box__body">
                <div class="post-activity">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa delectus cum harum molestiae possimus, praesentium beatae repudiandae nam at eius, eum omnis id ut magnam
                        inventore veritatis doloremque, expedita laboriosam?</p>
                </div>
            </div>
        </article>
        <article class="post-box">
            <div class="post-box__type-icon">
                <i class="icon icon-headphones"></i>
            </div>
            <h4 class="post-box__type">Music</h4>
            <time class="post-box__time">
                <i class="icon icon-clock"></i>
                <span>6 days ago</span>
            </time>
            <div class="post-box__body">
                <div class="music-activity">
                    <h3 class="music-activity__artist">Austin</h3>
                    <h2 class="music-activity__title">In Betweenin’</h2>
                </div>
            </div>
        </article>
    </section> --}}
</div>